dj-database-url==0.5.0
django==2.2.20 # previous 2.2.5 identified by Git as sequrity issue 
django-crispy-forms==1.7.2
django-environ==0.4.5
django-heroku==0.3.1
gunicorn==19.9.0
psycopg2==2.9.6  #==2.8.3 failed to install, this was changed to 2.9.6
pytz==2018.9
sqlparse==0.4.4  # previous 0.3.0 identified by Git as sequrity issue 
whitenoise==4.1.3